#contact-1 {
  width: 100%;
  padding: 40px 0 100px;
  .text {
    .txt-1 {
      text-align: center;
      p{
        color: gray;
      }
    }
  }
  
  .boxes {
    .form {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 10px;
      padding: 3rem 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      input {
        margin-block: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px;
  
  
      }
  
      input:focus {
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline-offset: 0px;
        outline: none;
      }
  
      .inp1 {
        border-radius: 30px;
        width: 45%;
      }
  
      .inp2 {
        border-radius: 30px;
  
        width: 45%;
      }
  
      .inp3 {
        border-radius: 30px;
  
        width: 100%;
      }
  
      #message {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 10px;
        margin-block: 10px;
  
      }
  
      textarea:focus {
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline-offset: 0px;
        outline: none;
      }
  
      button {
        background-color: #E52727;
        padding: 10px 3rem;
        outline: none;
        outline-offset: 0px;
        border-radius: 30px;
        color: white;
        margin-block: 10px;
        border: none;
      }
  
    }
  }
}



@media (min-width:768px) {
  #contact-1{
    .text{
      .txt-1{
      margin: auto;
width: 400px;
      }
    }
    .boxes{
      .map,.contact{
        width: 48%;
      }
      .map{
        iframe{
          height: 100%;
        }
      }
    }
  }
}