.userSelectDisable {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#shop-section {
  background-color: #fafafa;
  padding: 120px 0;
}
#shop-section .upper-bar {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 15px;
}
#shop-section .upper-bar .results {
  color: gray;
  font-weight: 500;
}
#shop-section .upper-bar .sorting select {
  background-color: #fafafa;
  border: none;
}
#shop-section .upper-bar .sorting select:focus {
  border: none;
  box-shadow: none;
}
#shop-section .filter-bar {
  background-color: white;
  padding: 20px 25px;
  height: -moz-fit-content;
  height: fit-content;
}
#shop-section .filter-bar .main-title {
  font-size: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
}
#shop-section .filter-bar .filter-box .category-name {
  width: 90%;
}
#shop-section .filter-bar .filter-box .stars {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}
#shop-section .filter-bar .filter-box .stars a {
  text-decoration: none;
  display: flex;
  line-height: 45px;
}
#shop-section .filter-bar .filter-box .stars a .star {
  color: rgba(0, 0, 0, 0.12);
}
#shop-section .filter-bar .filter-box .stars a .star.active {
  color: #ffc000;
}
#shop-section .filter-bar .filter-box .price-bar {
  font-size: 1.1em;
}
#shop-section .filter-bar .filter-box .price-bar .filter {
  background-color: #E52727;
  color: white;
  padding: 5px 18px;
  border-radius: 10em;
  cursor: pointer;
}
#shop-section .filter-bar .filter-box .range-bar {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
}
#shop-section .filter-bar .filter-box .range-bar .range-line {
  background-color: #E52727;
  height: 8px;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
}
#shop-section .filter-bar .filter-box .range-bar .range-line .point {
  width: 15px;
  height: 15px;
  background-color: #E52727;
  border-radius: 50%;
  cursor: e-resize;
  transform: translateY(-3px);
}
#shop-section .filter-bar .filter-box .range-bar .range-line .point:hover {
  box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
}
#shop-section .filter-bar .filter-box a.d-flex {
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}
#shop-section .filter-bar .filter-box a.d-flex .product-img {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#shop-section .filter-bar .filter-box a.d-flex .product-title {
  padding-left: 20px;
}
#shop-section .filter-bar .filter-box .category,
#shop-section .filter-bar .filter-box .category a {
  text-decoration: none;
  font-size: 1.05em;
  line-height: 45px;
  color: gray;
  font-weight: 500;
}
#shop-section .filter-bar .filter-box .category.category-count,
#shop-section .filter-bar .filter-box .category a.category-count {
  text-align: end;
}
#shop-section .filter-bar .filter-box .rating-count {
  width: 50%;
}
#shop-section .filter-bar .filter-box .rating-count a {
  text-decoration: none;
  font-size: 1.05em;
  line-height: 45px;
  color: gray;
  font-weight: 500;
}
#shop-section .filter-bar .filter-box .tag {
  background-color: #efefef;
  text-decoration: none;
  color: #808080;
  font-weight: 500;
  padding: 10px;
  margin: 0 5px 5px 0;
}
#shop-section .filter-bar .filter-box .tag:hover {
  background-color: #E52727;
  color: white;
}
#shop-section .product-area .pagination-bar {
  padding-top: 50px;
}
#shop-section .product-area .pagination-bar .p-link a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  margin-left: 15px;
  display: inline-block;
}
#shop-section .product-area .pagination-bar .p-link.active a {
  background-color: #E52727;
  color: white;
}
#shop-section .product-area .product-item {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.05);
}
#shop-section .product-area .product-item .product-img {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#shop-section .product-area .product-item .product-img img {
  border-radius: 10px;
}
#shop-section .product-area .product-item .product-img i {
  position: absolute;
  top: 15px;
  right: -20px;
  transition: 0.3s;
}
#shop-section .product-area .product-item .product-img:hover i {
  right: 10px;
}
#shop-section .product-area .product-item .product-data {
  padding: 25px 20px;
  width: 100%;
  font-weight: 500;
}
#shop-section .product-area .product-item .product-data .product-title {
  padding-bottom: 20px;
}
#shop-section .product-area .product-item .product-data .product-title a {
  font-size: 1.1em;
  color: black;
  text-decoration: none;
}
#shop-section .product-area .product-item .product-data .product-price .stars .star {
  color: #ffc000;
}
#shop-section .product-area .product-item .product-data .cart-link {
  background-color: #E52727;
  color: white;
  padding: 10px 25px;
  border-radius: 10em;
  cursor: pointer;
}

@media (min-width: 1200px) {
  #shop-section .product-area .product-item {
    width: 30%;
  }
}
.overlay-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 991;
  opacity: 0.9;
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  transition: 0.3s ease;
}
.loading.loaded {
  opacity: 0;
  visibility: hidden;
}
.loading .spedometer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
}

.up {
  position: fixed;
  background-color: #E52727;
  display: inline-flex;
  width: 50px;
  height: 50px;
  z-index: 998;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 1.2em;
  right: 30px;
  bottom: 80px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.up.active {
  opacity: 1;
  visibility: visible;
}

body {
  overflow: hidden;
}

#header .row {
  padding: 0;
}
#header .side-menu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 999;
  height: 100%;
  width: 300px;
  display: none;
}
#header .side-menu i {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}
#header .side-menu i:hover {
  opacity: 0.5;
}
#header .side-menu .menu li {
  border-bottom: 1px solid #ccc;
}
#header .side-menu .menu li a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  display: inline-block;
  width: 100%;
}
#header .side-menu .menu li a:hover {
  background-color: #E52727;
  color: white;
}
#header .side-menu .logo {
  border-bottom: 1px solid #ccc;
}
#header .upper-navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 990;
}
#header .upper-navbar .cart .cart-logo {
  padding-right: 10px;
}
#header .upper-navbar .cart .cart-logo i {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
}
#header .upper-navbar .cart .cart-text {
  cursor: pointer;
  position: relative;
}
#header .upper-navbar .cart .cart-text p {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}
#header .upper-navbar .cart .cart-text .cart-box {
  position: absolute;
  background-color: white;
  width: 310px;
  top: 75px;
  right: 0;
  text-align: center;
  padding: 30px 35px;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  display: none;
  cursor: default;
}
#header .upper-navbar .cart .cart-text .cart-box .product {
  position: relative;
  display: flex;
}
#header .upper-navbar .cart .cart-text .cart-box .product .product-img {
  border: 1px solid rgba(0, 0, 0, 0.06);
  width: 200px;
}
#header .upper-navbar .cart .cart-text .cart-box .product .product-img a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
#header .upper-navbar .cart .cart-text .cart-box .product .product-text .product-title a {
  text-decoration: none;
  color: gray;
}
#header .upper-navbar .cart .cart-text .cart-box .product .product-text .product-price {
  font-weight: 500;
  font-size: 1.05em;
}
#header .upper-navbar .cart .cart-text .cart-box .product .product-remove {
  border: 1px solid gray;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  color: gray;
  padding: 0 8px;
  font-size: 1.2em;
  position: absolute;
  scale: 0.8;
  right: 0;
  top: 50%;
  cursor: pointer;
}
#header .upper-navbar .cart .cart-text .cart-box .subtotal {
  border-top: 1px solid #ccc;
  font-size: 1.3em;
  padding-top: 10px;
  font-weight: 500;
}
#header .upper-navbar .cart .cart-text .cart-box .cart-links a {
  padding: 10px 0;
  text-decoration: none;
  background-color: #E52727;
  color: white;
  width: 46%;
}
#header .upper-navbar .burger-bar i {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#header .upper-navbar .search-bar {
  position: relative;
}
#header .upper-navbar .search-bar input {
  border-radius: 10em;
  padding: 10px 25px;
  outline: none;
  border: 1px solid #ccc;
  width: 100%;
}
#header .upper-navbar .search-bar .search-link {
  border-radius: 10em;
  padding: 10px 40px;
  background-color: #E52727;
  position: absolute;
  top: 1px;
  right: 13px;
}
#header .lower-navbar {
  border-top: 1px solid #ccc;
}
#header .lower-navbar .category-menu {
  width: -moz-fit-content;
  width: fit-content;
}
#header .lower-navbar .category-menu span {
  border-radius: 10em;
  padding: 10px 40px;
  background-color: #E52727;
  cursor: pointer;
}
#header .lower-navbar .category-menu .menu-box {
  position: absolute;
  top: 160px;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  width: 260px;
  padding: 15px 0;
  display: none;
}
#header .lower-navbar .category-menu .menu-box ul li a {
  text-decoration: none;
  color: black;
  padding: 15px 25px;
  display: inline-block;
  width: 100%;
  font-weight: 600;
  transition: 0.3s;
}
#header .lower-navbar .category-menu .menu-box ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#header .lower-navbar .menu li {
  padding: 20px 30px 20px 0;
}
#header .lower-navbar .menu li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
}
#header .lower-navbar .menu li a.active, #header .lower-navbar .menu li a:hover {
  color: #E52727;
}

#main {
  padding-top: 68px;
}
#main .space {
  height: 200vh;
}
#main #breadcrumbs {
  padding: 70px 0;
  background-image: url(/images/static/breadcrumbs.jpg);
}
#main #breadcrumbs h1 {
  color: white;
  font-weight: 900;
}
#main #breadcrumbs .path {
  padding-top: 10px;
}
#main #breadcrumbs .path a {
  text-decoration: none;
  color: #E52727;
}
#main #breadcrumbs .path span {
  color: white;
}

#footer .upper-footer {
  background-color: #212121;
  padding: 75px 0 80px;
}
#footer .upper-footer .logo {
  width: 300px;
}
#footer .upper-footer p,
#footer .upper-footer li a {
  color: #808080;
  text-decoration: none;
}
#footer .upper-footer .column h5 {
  color: white;
  padding-bottom: 10px;
}
#footer .upper-footer .column.last {
  padding-right: 50px;
}
#footer .upper-footer .column.last input {
  outline: none;
  border: none;
  padding: 10px 18px;
}
#footer .upper-footer .column.last a {
  background-color: #E52727;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px 0;
}
#footer .upper-footer .column .post {
  display: flex;
  padding-top: 12px;
}
#footer .upper-footer .column .post .post-img img {
  width: 200px;
  padding-top: 3px;
}
#footer .upper-footer .column .post .post-text .post-title a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}
#footer .upper-footer .column .post .post-text .post-title a:hover {
  color: #E52727;
}
#footer .upper-footer .column .post .post-text .post-date {
  color: #808080;
  font-size: 0.8em;
}
#footer .upper-footer .column ul {
  line-height: 35px;
  font-size: 1.1em;
  font-weight: 500;
}
#footer .upper-footer .column ul li a:hover {
  color: #E52727;
}
#footer .upper-footer .column .socials a {
  color: white;
  margin-left: 10px;
  background-color: #333333;
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#footer .upper-footer .column .socials a:hover {
  color: #E52727;
}
#footer .lower-footer {
  background-color: #333333;
}
#footer .lower-footer .cards {
  width: 300px;
}
#footer .lower-footer .cards li {
  padding: 20px 10px;
}
#footer .lower-footer .cards li a {
  display: inline-block;
  filter: grayscale(1);
}
#footer .lower-footer .cards li a:hover {
  filter: grayscale(0);
}

@media (min-width: 768px) {
  #main #breadcrumbs {
    padding: 130px 0;
  }
  #main #breadcrumbs h1 {
    font-size: 3em;
  }
}
@media (min-width: 992px) {
  #header .upper-navbar {
    position: static;
  }
  #main {
    padding-top: 0;
  }
  #footer .lower-footer .cards li {
    width: 20%;
  }
}/*# sourceMappingURL=style.css.map */